::-webkit-scrollbar {
    width: 3px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
    background: #585858; /* Track color */
    border-radius: 10px;
    opacity: 0.2;
}

::-webkit-scrollbar-thumb {
    background: #fafafa; /* Thumb color */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background:#fafafa; /* Hover effect */
}


@font-face {
    font-family: 'Averia Gruesa Libre';
    src: url('../assets/font/Averia_Gruesa_Libre/AveriaGruesaLibre-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope';
    src: url('../assets/font/Manrope/static/Manrope-Regular.ttf') format('truetype'),
        url('../assets/font/Manrope/static/Manrope-ExtraBold.ttf') format('truetype'),
        url('../assets/font/Manrope/static/Manrope-ExtraLight.ttf') format('truetype'),
        url('../assets/font/Manrope/static/Manrope-Light.ttf') format('truetype'),
        url('../assets/font/Manrope/static/Manrope-Medium.ttf') format('truetype'),
        url('../assets/font/Manrope/static/Manrope-Bold.ttf') format('truetype'),
        url('../assets/font/Manrope/static/Manrope-SemiBold.ttf') format('truetype');
}
.font-manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Gunakan 400 untuk normal */
    font-style: normal;
}

.font-averia {
    font-family: "Averia Gruesa Libre", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    cursor: url('/assets/icon.svg'), auto!important;
}
